Options -MultiViews
Options +Indexes
RewriteEngine on

RewriteBase /camagru/public

RewriteCond $(REQUEST_FILENAME) !-d
RewriteCond $(REQUEST_FILENAME) !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,l]
